#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

button:hover {
  transform: scale(1.10);
  cursor: pointer;
}

#addTaskButton {
  color: black;
  padding: 50px;
}

#addTaskText {
  font-size: 0.9rem;
}

.add-container {
  margin-top: 50px;
  margin-left: 350px;
  width: 50%;
}

.add-container h6 {
  display: flex;
  align-items: flex-start;
  font-weight: bold;
}

.add-container textarea {
  display: flex;
  align-items: flex-start;
}

.add-container input {
  display: flex;
  align-items: flex-start;
}

.add-container button {
  display: flex;
  align-items: flex-start;
}

.btn-black {
  background-color: #000; 
  color: #fff; 
}

.btn-black:hover {
  background-color: #000; 
  color: whitesmoke;
}

.task-container {
  /* border: solid 2px black; */
  padding-left: 5px;
  padding-right: 5px;
  padding: 5px;
  border-radius: 1%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Align items to the left and right */
  align-items: flex-start;
}

.task-container h5 {
  font-weight: bold;
  margin-bottom: -2px;
}

.task-container p {
  margin-bottom: -2px;
}


.task-container:hover {
  background-color: #b6b5b5;
}

h1 {
  margin-top: 50px;
  text-decoration: underline;
}

.list-container {
  margin-top: 10px;
  display: flex;
  width: 60%;
  margin-left: 350px;
}

ul {
  list-style-type: none;
}

.container-fluid {
  position: fixed;
  top: 0;
  width: 100%; 
  padding: 10px;
  background-color: #333;
  text-align: center;
  z-index: 1000;
}


body {
  background-color: #eee;
}

.container-fluid img {
  width: 4%;
  margin-right: 30px;
}

.sidebar-container {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 200px; 
  height: 100%; 
  background-color: #ddd;
  color: #fff; 
  padding: 20px; 
  margin-top: 40px;
}

.sidebar-container li {
  color: black;
  margin: 10px;
}

.row ul {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
}

.row li {
  margin-bottom: -5px;
  border-radius: 5%;
  padding-left: 5px;
  padding-right: 55px;
}

.row li:hover {
  background-color: #7E7C73;
}


.nav-link {
  width: 200%;
  display: flex;
  align-items: flex-start;
  margin-left: -10px;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
